<% for( let index=0; index < news.length; index++ ) { %>
    <div class="news__card">
        <img class="news-card__image" src="<%= news[index].news_img %>" alt="Card Image">
        <div class="news-card__content">
            <div class="news-card__category">
                <%= news[index].category %>
            </div>
            <div class="news-card__title news-card__title--normal">
                <%= news[index].title %>
            </div>
            <div class="news-card__text">

                <%= news[index].news_content.substr(0, 100) %>...

            </div>
            <a class="news-card__link" href="<%= news[index].slug %>">Saiba Mais</a>
        </div>
    </div>
    <% } %>

        <script>
            window.onload = () => {
                let titles = document.querySelectorAll('.news-card__title--normal');
                let h = [];

                titles.forEach(x => {
                    h.push(x.getBoundingClientRect().height);
                });
                h.sort().reverse();
                for (let i = 0; i < titles.length; i++) {
                    titles[i].style.height = `${h[0]}px`;
                }
            }
        </script>