<!DOCTYPE html>
<html lang="br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= pageName %>
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header class="header">
        <%- include('header.ejs') -%>
    </header>

    <main>
        <section class="section__news">
            <div class="container">
                <div class="news">
                    <div class="single-news">
                        <h2 class="single-news__title"><%= news.title %></h2>
                        <div class="single-news__author">
                            <img class="author__image" src="<%= news.author_img %>" alt="User Image">
                            <span class="author__name">Por <%= news.author %> </span>
                        </div>
                        <div class="single-news__content">
                            <div class="single-news__text"> 
                                <%= news.news_content %>
                            </div>
                            <img class="single-news__image" src="<%= news.news_img %>" alt="">
                        </div>
                    </div>
                    <div class="most-viewed most-viewed">
                        <%- include('most-viewed.ejs') -%>
                    </div>
                </div>
            </div>
        </section>

    </main>

</body>

</html>